body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  height: 95%;
  width: auto;
  padding: 0;
}

.map {
  width: 98vw;
  height: 91vh;
  margin: 1vh auto;
  margin-top: 8vh;
}